/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2018, 10:07:01 PM
    Author     : or
*/
h1{
    color: grey
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: large;
    font-style: normal;
    font-weight: bold;
}

    ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
left: 0;
width: 100%;
}

li {
border-right: 1px solid #bbb;
float: left;
}
.active {
background-color: rgb(76, 144, 175);
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: rgb(76, 144, 175);
}


li:last-child {
border-right: none;
border-left: 1px solid #bbb;
}
