<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="Css1.css" rel="stylesheet" type="text/css"/>
        <style>
        body{background-image: url(notebook.png);}
        
             </style>
    </head>
    <body>
         <h1> <%=message%> </h1>
        
        
           <button type="button"><a href="<%=routePrev%>">prev</a></button> 
        </form>
    </body>
</html>