<!DOCTYPE html>
<html>
    <head>
        <title>My Library</title>
        <meta charset="UTF-8">
        <meta name="author" content="Or Amram">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="Css1.css" rel="stylesheet" type="text/css"/>
        <style>
       body{background-image: url(library.jpg);
            background-attachment: scroll;
         background-size: cover}
       </style>
       
    </head>
    
    <body>
        

            <div style="height: 30px"><%- include('./navBarBeforeLogin.ejs', {active:"home"}) %> </div>
            <h1 style="text-align:center">Welcome to my library!!</h1>
        <h2 style="text-align:center">Hello guest, Please choose from the options above</h2>
        <div style="font-family: cursive;border-radius: 7.5em ;font-size: 80px;
             text-align:center;margin: 0 200px 0 200px; background-color: activecaption;"></div>
             <br>
            
             
             
    </body>
</html>